<link rel="stylesheet" href="../orderingCreateAndEdit.css">
<link rel="stylesheet" href="../orderingRead.css">

<!--Page Title-->
    <h1 class="readTitle">Pedidos Feitos</h1>

<!--Row List of Orderings - 3 Cols-->
    <div class="row row-cols-3 listOfOrderings">

        <!--Bag of Items Col-->
            <div class="col orderingCol">

                <!--Header-->
                    <div class="row row-cols-2">

                        <!--Title-->
                            <h2 class="col titleRead">Pedido #<text>1</text></h2>

                        <!--Buttons-->
                            <div class="col buttonsCol">

                                <a href="/edit">
                                    <img src="../img/editIcon.png" alt="Edit Icon">
                                </a>

                                <a href="/delete">
                                    <img src="../img/deleteIcon.png" alt="Delete Icon">
                                </a>

                            </div>
                    </div>
                <!--End of Header-->

                <!--List of Items Choosen-->
                    <div class="itemsList">

                        <!--Item Ordered-->
                            <p class="itemsOrdered">
                                <text class="quantity_itemOrdered">1</text>
                                <text class="name_itemOrdered">Pão Francês Integral</text>
                                <text class="price_itemOrdered">2,99</text>
                            </p>

                    </div>

                <!--Total-->
                    <p class="totalItemsOrdering">
                        <text>Total: </text>
                        <text id="total_ordering" name="total_ordering">2,99</text>
                    </p>
            </div>
        <!--End of Bag of Items Col-->
        
    </div>
<!--End of Row List of Orderings-->